<h1>Queries</h1>

<div class="row">
    <div class="row">
        <div class="nav navbar-nav col-lg-5">
            <h3>Method Syntax</h3>
        </div>
        <div class="nav navbar-nav col-lg-5">
            <h3>Query Syntax</h3>
        </div>
    </div>
    <div class="row">
        <div class="nav navbar-nav col-lg-5">
            <a class="nav-link text-dark" asp-area="" asp-controller="CarInfo" asp-action="MostEfficient">Most efficient car</a>
        </div>
        <div class="nav navbar-nav col-lg-5">
            <a class="nav-link text-dark" asp-area="" asp-controller="CarInfo" asp-action="MostEfficientQ">Most efficient car QS</a>
        </div>
    </div>

    <div class="row">
        <div class="nav navbar-nav col-lg-5">
            <a class="nav-link text-dark" asp-area="" asp-controller="CarInfo" asp-action="WhereAndFirst">Most efficient car by manufacturer and year</a>
        </div>
        <div class="nav navbar-nav col-lg-5">
            <a class="nav-link text-dark" asp-area="" asp-controller="CarInfo" asp-action="WhereAndFirstQ">Most efficient car by manufacturer and year QS</a>
        </div>
    </div>

    <div class="row">
        <div class="nav navbar-nav col-lg-5">
            <a class="nav-link text-dark" asp-area="" asp-controller="CarInfo" asp-action="ProjectedSelect">Projected Select</a>
        </div>
        <div class="nav navbar-nav col-lg-5">
            <a class="nav-link text-dark" asp-area="" asp-controller="CarInfo" asp-action="ProjectedSelectQ">Projected Select QS</a>
        </div>
    </div>

    <div class="row">
        <div class="nav navbar-nav col-lg-5">
            <a class="nav-link text-dark" asp-area="" asp-controller="CarInfo" asp-action="SelectMany">SelectMany</a>
        </div>
    </div>

    <div class="row">
        <div class="nav navbar-nav col-lg-5">
            <a class="nav-link text-dark" asp-area="" asp-controller="CarInfo" asp-action="JoinTables">Join Tables</a>
        </div>
        <div class="nav navbar-nav col-lg-5">
            <a class="nav-link text-dark" asp-area="" asp-controller="CarInfo" asp-action="JoinTablesQ">Join Tables QS</a>
        </div>
    </div>

    <div class="row">
        <div class="nav navbar-nav col-lg-5">
            <a class="nav-link text-dark" asp-area="" asp-controller="CarInfo" asp-action="Grouping">Grouping</a>
        </div>
        <div class="nav navbar-nav col-lg-5">
            <a class="nav-link text-dark" asp-area="" asp-controller="CarInfo" asp-action="GroupingQ">Grouping QS</a>
        </div>
    </div>

    <div class="row">
        <div class="nav navbar-nav col-lg-5">
            <a class="nav-link text-dark" asp-area="" asp-controller="CarInfo" asp-action="GroupJoin">GroupJoin</a>
        </div>
        <div class="nav navbar-nav col-lg-5">
            <a class="nav-link text-dark" asp-area="" asp-controller="CarInfo" asp-action="GroupJoinQ">GroupJoin QS</a>
        </div>
    </div>

    <div class="row">
        <div class="nav navbar-nav col-lg-5">
            <a class="nav-link text-dark" asp-area="" asp-controller="CarInfo" asp-action="JoinAndGroupAndSelectMany">Join and Group SelectMany</a>
        </div>
        <div class="nav navbar-nav col-lg-5">
            <a class="nav-link text-dark" asp-area="" asp-controller="CarInfo" asp-action="JoinAndGroupAndSelectManyQ">Join and Group SelectMany QS</a>
        </div>
    </div>

    <div class="row">
        <div class="nav navbar-nav col-lg-5">
            <a class="nav-link text-dark" asp-area="" asp-controller="CarInfo" asp-action="AggregatingData">Aggregating Data and Group</a>
        </div>
        <div class="nav navbar-nav col-lg-5">
            <a class="nav-link text-dark" asp-area="" asp-controller="CarInfo" asp-action="AggregatingDataQ">Aggregating Data and Group QS</a>
        </div>
    </div>
</div>
